# Python
__pycache__/
*.py[cod]
*$py.class
*.pt
*.pth
.env
.venv
env/
venv/

# Large raw drone datasets (>100MB for GitHub limits)
*.tif
*.tiff
*.las
*.laz

# Node / Web
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db
